
/**************    Responsive Code     **************/

/*  desktop   */
@media screen and (max-width: 980px) {
  
  .headerNav {
  float: left;

  }

  .leftSection {
    max-width: 320px;
    
  }

  .leftSecHeader {
    max-width: 280px;
  }

  .rightSection{
    float: left;
    margin-left: 30px;
  }

  p {
    clear: both;
    width: 100%;
    max-width: 250px;
    padding-top: 20px;
    }


}  /*  END OF DESKTOP */

/*  tablet   */

@media screen and (max-width: 768px) {
 
  .leftSection {
    max-width: 650px;
  }

  .leftSecHeader {
    max-width: 600px;
  }

  p {
    display: inline;
    width: auto;
    max-width: none;
    padding-top: 20px;
  }

  p:last-child {
    display: block;
  }

  .rightSection{
    clear:both;
    float: left;
    width: 100%;
    max-width: 650px;
    margin-top: 0px;
    margin-left: 0px;
  }

  .rightSecHeader {
    max-width: 600px;
  }


}   /* END OF TABLET */

/*   Media Queries     */
/*   phone landscape    */
@media screen and (max-width: 640px) {

  body {
    padding-top: 0px;
  }

  .fullHeader {
    position: static;
  }

  .name {
    width: 100%;
    white-space: nowrap;
  }

  .headerNav {
    width: 100%;
    clear: both;
    float: left;
    background-color: #ffffff;
    border-bottom: 2px;
    border-style: solid;
    border-color: #cccccc;
    color: #fff;
    margin: 0 auto;
    padding: 10px 0px 10px 0px;
  }
 
  .leftSection {
    max-width: 320px;
    margin-left: 10px;
  }

  .leftSecHeader {
    max-width: 280px;
  }

  .rightSection{
    max-width: 320px;
    margin-left: 10px;
  }

  .rightSecHeader {
    max-width: 280px; 
  }

  p {
    display: block;
    width: 100%;
    max-width: 250px;
    padding-top: 20px;
  }
}